

<div class="container">
  <div class="form-container">
    <div class="form-header">
      <h1 class="form-title"> formulario de Registro</h1>
    </div>
    <div class="form-body">
      <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input [(ngModel)]="nombre" matInput placeholder="Ingresa el Nombre">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Edad</mat-label>
        <input type="number" [(ngModel)]="edad" matInput placeholder="Ingresa la edad">
      </mat-form-field>
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="example-radio-group"
        [(ngModel)]="sexo">
        <mat-radio-button class="example-radio-button" *ngFor="let option of generos" [value]="option.value">
          {{option.label}}
      </mat-radio-button>
</mat-radio-group>
      <button (click)="AgregarUsuario()" mat-flat-button color="primary"> CREAR USER </button>
    </div>
  </div>
  <div class="form-container-2">
    <div class="form-header">
      <h1 class="form-title">Registrados</h1>

    </div>
    <div class="form-body">
      <div class="list-container">
        <mat-selection-list #persons (selectionChange)="onListSelectionChange($event)">
          <mat-list-option *ngFor="let user of users " [value]="user" role="listitem">
            <h3 class="item-form">{{user.name}} - {{user.edad}} -{{user.sexo}}</h3>
          </mat-list-option>
        </mat-selection-list>

      </div>
      <button (click)="EliminarUser()" mat-flat-button color="primary"> Eliminar </button>
    </div>
</div>
